/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.chartContainer canvas {
  max-height: 250px;
  width: auto;
}

.chartContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input.ng-touched {
  border: 3px solid lightblue;
}
input.ng-dirty.ng-valid {
  border: 2px solid green;
}
input.ng-dirty.ng-invalid {
  border: 2px solid red;
}

/* To make the toggle button group text horizontally centered */

.mat-button-toggle-button {
  height: 100%;
}

.mat-button-toggle-label-content {
  padding: 0 0 !important;
  height: 100%;
  width: 100%;
}